:root {
  --clr-dark: 273 85% 13%;
  --clr-green: 150 100% 63%;
  --clr-gray: 271 12% 34%;
}

@font-face {
  font-family: manrope;
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: fraunces;
  src: url("./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  background-color: hsl(var(--clr-dark));
  height: 472px;
  border-radius: 0 0 100% 100%/0 0 15% 15%;
}
@media screen and (min-width: 720px) {
  header {
    height: 564px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    height: 700px;
  }
}
header .header_menu {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
  max-width: 1160px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  header .header_menu {
    padding-top: 50px;
  }
}
header .header_content {
  padding-top: 50px;
  overflow-x: hidden;
}
@media screen and (min-width: 720px) {
  header .header_content {
    display: flex;
    justify-content: space-between;
  }
}
header .header_content h1 {
  font-size: 50px;
  color: white;
  font-family: fraunces;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 720px) {
  header .header_content h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  header .header_content h1 {
    font-size: 80px;
  }
}
header .header_content span {
  display: inline-block;
  line-height: 0.9;
  border-bottom: 1.5px solid hsl(var(--clr-green));
}
header .header_content .left-svg {
  display: none;
}
@media screen and (min-width: 720px) {
  header .header_content .left-svg {
    margin-left: -210px;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  header .header_content .left-svg {
    margin-left: -139px;
  }
}
header .header_content .right-svg {
  display: none;
}
@media screen and (min-width: 720px) {
  header .header_content .right-svg {
    margin-right: -90px;
    margin-top: 125px;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  header .header_content .right-svg {
    margin-right: -55px;
  }
}
header .header_content .header-description {
  text-align: center;
}
header .header_content .image-container {
  margin: 40px auto;
  width: 250px;
  height: 184px;
}
@media screen and (min-width: 720px) {
  header .header_content .image-container {
    width: 465px;
    height: 410px;
  }
}
@media screen and (min-width: 1200px) {
  header .header_content .image-container {
    width: 560px;
    height: 400px;
  }
}
header .header_content .image-container img {
  height: 100%;
}

.service-section {
  margin-top: -64px;
  z-index: -1;
  position: relative;
  background-color: #FCF8FF;
  border-radius: 0 0 100% 100%/0 0 9% 9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}
@media screen and (min-width: 720px) {
  .service-section {
    height: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .service-section {
    flex-direction: row;
    gap: 30px;
    height: 700px;
  }
}
.service-section .service-container:first-child {
  margin-top: 150px;
}
@media screen and (min-width: 720px) {
  .service-section .service-container:first-child {
    margin-top: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .service-section .service-container:first-child {
    margin-top: 156px;
  }
}
.service-section .service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: fraunces;
  padding: 40px;
  gap: 30px;
  text-align: center;
}
@media screen and (min-width: 720px) {
  .service-section .service-container {
    text-align: left;
    flex-direction: row;
    padding: 40px 90px;
  }
}
@media screen and (min-width: 1200px) {
  .service-section .service-container {
    margin-top: 150px !important;
    max-width: 360px;
    padding: 0;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
.service-section .service-container .service-number {
  font-size: 24px;
  color: hsl(var(--clr-dark));
  text-align: center;
  border: 1px solid #584D62;
  padding: 10px;
  border-radius: 70%;
  height: 56px;
  width: 56px;
}
.service-section .service-container .service-title {
  font-size: 32px;
  color: hsl(var(--clr-dark));
}
.service-section .service-container .service-description {
  color: #584D62;
  font-size: 18px;
}

.founder-section {
  padding: 150px 20px;
  margin: 0 auto;
}
@media screen and (min-width: 720px) {
  .founder-section {
    padding: 10px 20px;
  }
}
.founder-section .founder_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 720px) {
  .founder-section .founder_container {
    flex-direction: row;
    padding-bottom: 130px;
  }
}
@media screen and (min-width: 900px) {
  .founder-section .founder_container {
    flex-direction: row;
    padding: 150px 0px;
  }
}
.founder-section .image_container {
  position: relative;
  width: 247px;
  z-index: -1;
}
@media screen and (min-width: 720px) {
  .founder-section .image_container {
    width: unset;
  }
}
@media screen and (min-width: 900px) {
  .founder-section .image_container {
    width: 347px;
  }
}
.founder-section .founder_content {
  background-color: hsl(var(--clr-dark));
  color: #fff;
  padding: 40px;
  font-family: "fraunces";
  max-width: 592px;
  text-align: center;
  margin-top: -13%;
}
@media screen and (min-width: 520px) {
  .founder-section .founder_content {
    margin-top: -7%;
  }
}
@media screen and (min-width: 720px) {
  .founder-section .founder_content {
    margin-top: 48%;
    margin-left: -16%;
    text-align: left;
  }
}
@media screen and (min-width: 900px) {
  .founder-section .founder_content {
    margin-top: 23%;
    margin-left: -7%;
  }
}
@media screen and (min-width: 1000px) {
  .founder-section .founder_content {
    margin-top: 15%;
    margin-left: -5%;
    text-align: left;
  }
}
.founder-section .founder_content .title {
  font-size: 32px;
  font-weight: 600;
  line-height: 0.9;
}
@media screen and (min-width: 720px) {
  .founder-section .founder_content .title {
    font-size: 45px;
  }
}
.founder-section .founder_content .description {
  font-size: 18px;
  margin: 20px 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
}
footer .social_media {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Componentes */
.primary-btn {
  background-color: hsl(var(--clr-green));
  padding: 10px;
  display: inline-block;
  color: hsl(var(--clr-dark));
  font-size: 18px;
  font-family: bold;
  margin-top: 15px;
}

.secondary-btn {
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1.5px solid hsl(var(--clr-green));
  font-family: manrope;
}/*# sourceMappingURL=style.css.map */